<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Animal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>🐾 Cadastro de Animais para Adoção 🐾</h1>
    <nav>
        <a href="{{ url_for('index') }}">Página Inicial</a>
        <a href="{{ url_for('adocao') }}">Ver Animais</a>
        <a href="{{ url_for('cadastro_adotante') }}">Cadastro de Adotante</a>
    </nav>
    
    <section>
        <h2>Insira as informações do animal</h2>
        <form action="{{ url_for('cadastro') }}" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="idade">Idade:</label>
            <input type="text" id="idade" name="idade" required>
            
            <label for="especie">Espécie:</label>
            <input type="text" id="especie" name="especie" required>
            
            <label for="descricao">Descrição:</label>
            <textarea id="descricao" name="descricao" required></textarea>
            
            <label for="imagem">URL da Imagem:</label>
            <input type="text" id="imagem" name="imagem" required>
            
            <button type="submit">Cadastrar</button>
        </form>
    </section>
</body>
</html>
